{% extends 'base.html.twig' %}

{% block title %}Mon compte | Mes commandes - commerce{% endblock %}

{% block body %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Mon compte</h1>
            <p class="col-md-8 fs-4">{{ app.user.lastname }} {{ app.user.firstname }}</p>
        </div>

        <div class="nav-bread">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('profile') }}">Mon compte</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mes commandes</li>
                </ol>
            </nav>
        </div>
    </div>
    

    <div class="row">
    
        {% if app.user.orders|length > 0 %}
        
            <div class="table-responsive-md">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in app.user.orders %}
                            <tr>
                                <th scope="row">{{ order.createdAt|date('d-m-Y') }}</th>
                                <td>
                                    {% if order.state == 1 %}
                                        <span class="badge bg-primary">commande validée</span>
                                    {% elseif order.state == 2 %}
                                        <span class="badge bg-warning">en cours de préparation</span>
                                    {% elseif order.state == 3 %}
                                        <span class="badge bg-success">en cours de livraison</span>
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('profile_order_show', { 'reference': order.reference }) }}">Détails</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <div class="alert alert-warning" role="alert">
                Vous n'avez pas passé de commande pour le moment sur <strong>commerce</strong>.
                Vous pouvez voir notre catalogue de produits <a href="{{ path('products') }}" class="alert-link">ici</a>.
            </div>

        {% endif %}
    </div>

    <hr class="featurette-divider">
    
{% endblock %}
