{% extends 'base.html.twig' %}

{% block title %}Mon compte | Mot de passe - commerce{% endblock %}

{% block body %}

    <div class="nav-bread">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('profile') }}">Mon compte</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mot de passe</li>
            </ol>
        </nav>
    </div>


    <hr>

    <div class="row">
    
        {{ form_start(form) }}
            {{ form_row(form.old_password) }}
            {{ form_row(form.new_password.first) }}
            {{ form_row(form.new_password.second) }}

            <input type="submit" value="Valider" class="btn btn-primary">
        {{ form_end(form) }}
    </div>

{% endblock %}
