{% extends 'base.html.twig' %}

{% block title %}Panier - commerce{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Qté</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart %}
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="{{ product.product.image }}" alt="{{ product.product.name }}" class="img-fluid" style="height: 100px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                {{ product.product.name }} <br>
                                {{ product.product.brand }}
                            </div>
                        </div>
                    </th>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.product.price|number_format(0, ',', ' ') }}€</td>
                    <td>{{ (product.product.price * product.quantity)|number_format(0, ',', ' ') }}€</td>
                    <td>
                        <a href="{{ path('cart_delete', { 'id': product.product.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
