{{ form_start(form) }}

    <div class="row">
        <div class="col-auto">
            {{ form_row(form.q) }}
        </div>

        <div class="col-auto">
            {{ form_row(form.min) }}
        </div>
        <div class="col-auto">
            {{ form_row(form.max) }}
        </div>

        <div class="col-auto">
            {{ form_row(form.categories) }}
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Appliquer</button>
        </div>
    </div>

{{ form_end(form) }}