{{ form_start(form) }}
    {{ form_row(form.q) }}

    {{ form_row(form.categories) }}

    <div class="row">
        <div class="col-6">
            {{ form_row(form.min) }}
        </div>
        <div class="col-6">
            {{ form_row(form.max) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Appliquer</button>
{{ form_end(form) }}