{% extends 'base.html.twig' %}

{% block title %}Produits - commerce{% endblock %}

{% block body %}

    <div class="row">
    
        <div class="p-4 mb-4 bg-light bg-light border rounded-3">
            <div class="container-fluid py-5 ">
                {% include "product/_filter.html.twig" %}
            </div>
        </div>

        <div class="col-md-12">
        
            <div class="row">

                <div class="d-flex justify-content-end mb-3">
                    {{ knp_pagination_sortable(products, 'Prix', 'p.price', {}, {}, 'sortable/sortable.html.twig') }}
                </div>
                {% for product in products %}
                    <div class="col-md-3">
                        <figure class="figure">
                            <a href="{{ path('product', { 'slug': product.slug }) }}">
                                <img src="{{ product.image }}" class="figure-img img-fluid rounded" alt="{{ product.name }}">
                            </a>
                            <figcaption class="figure-caption">
                                <a href="{{ path('product', { 'slug': product.slug }) }}" class="figure-caption-link text-muted text-uppercase">
                                    <span class="figure-caption-name">{{ product.name }}</span>
                                </a> <br> <span class="figure-caption-brand">{{ product.brand }}</span> <br>
                                <span class="figure-caption-price">{{ product.price|number_format(0, ',', ' ') }}€</span>
                                <span class="figure-btn-add-cart">
                                    <a href="{{ path('cart_add', { 'id': product.id }) }}">
                                        <i class="fa-solid fa-bag-shopping btn-icon"></i>
                                    </a>
                                </span>
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}

            </div>

            <div class="navigation mt-5">
                {{ knp_pagination_render(products, 'pagination/pagination.html.twig') }}
            </div>
        </div>
    
    </div>

    <hr class="featurette-divider">

{% endblock %}
