{% extends 'base.html.twig' %}

{% block title %}Produits - commerce{% endblock %}

{% block body %}

    <div class="row">
    
        <div class="col-md-3">
            {% include "product/_filter.html.twig" %}

        </div>

        <div class="col-md-9">
        
            <div class="row">
            
                {% for product in products %}
                    
                    <div class="col-md-4">
                        <figure class="figure">
                            <a href="{{ path('product', { 'slug': product.slug }) }}">
                                <img src="{{ product.image }}" class="figure-img img-fluid rounded" alt="{{ product.name }}">
                            </a>
                            <figcaption class="figure-caption">
                                <a href="{{ path('product', { 'slug': product.slug }) }}">
                                    {{ product.name }}
                                </a> <br> {{ product.brand }} <br> {{ product.price|number_format(0, ',', ' ') }}€
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}

            </div>
        </div>
    
    </div>

{% endblock %}
