{% extends 'base.html.twig' %}

{% block title %}Inscription - commerce{% endblock %}

{% block body %}

    <div class="row g-3">
    
        <div class="col-md-6 offset-3">

            <h1>Inscription</h1>
        
            {% include "notifications/notification.html.twig" %}

            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.lastname) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.firstname) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.email) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.password.first) }}
                </div>

                <div class="mb-4">
                    {{ form_row(form.password.second) }}
                </div>

                <hr>

                <p class="text-center">
                    <small>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous.</a></small>
                </p>

                <hr>


                <input type="submit" value="S'inscrire" class="btn btn-primary w-100 btn-lg">
            {{ form_end(form) }}
        </div>
    </div>

    <hr class="featurette-divider">

{% endblock %}
