{% extends 'base.html.twig' %}

{% block title %}Commande - commerce{% endblock %}

{% block body %}

    <h1>Validation de ma commande</h1>

    <p>
        Choisissez vos préférences avant de valider votre commande Commerce.
    </p>

    <hr>

    <div class="row">
    
        <div class="col-md-6">
            {% set formHtml %}
                {{ form_start(form, { action: path('order_checkout') }) }}
                    {{ form_label(form.addresses, 'Choisissez votre adresse de livraison') }}
                    <a href="{{ path('profile_address_add') }}">Ajouter une nouvelle adresse</a>
                {{ form_end(form) }}
            {% endset %}

            {{ formHtml|replace({ '[br]': '<br>' })|raw }}
        </div>

        <div class="col-md-6">

            <div class="text-center">
                <strong>Récupilatif de ma commande</strong>
            </div>

            <div class="mt-2">
                {% include "order/order_summary.html.twig" %}
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

{% endblock %}
